@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Regular.woff2') format('woff2'),
        url('subset-Rubik-Regular.woff') format('woff'),
        url('subset-Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Bold.woff2') format('woff2'),
        url('subset-Rubik-Bold.woff') format('woff'),
        url('subset-Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Light.woff2') format('woff2'),
        url('subset-Rubik-Light.woff') format('woff'),
        url('subset-Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Medium.woff2') format('woff2'),
        url('subset-Rubik-Medium.woff') format('woff'),
        url('subset-Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Black.woff2') format('woff2'),
        url('subset-Rubik-Black.woff') format('woff'),
        url('subset-Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

