.popup-window { font-family: Rubik,sans-serif;}
.simple-modal__title{font-size:20px;}
.cart-dropdown__item-img {min-width:100px;}
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before { background-color: #d8bd25 !important;}
.product-cross-sells .button_yellow { padding: 13px 23px; }
.review__avatar {height:auto;}
button:focus {outline:0;}
.vcard__attr-link.active { color: #ffe23f;}
.cart__item-sum-block {
	-webkit-flex-basis: 90px;
    -ms-flex-preferred-size: 90px;
    flex-basis: 90px;	
}
.vcard__new {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #3097D3;
    top: 10px;
    right: 10px;
    padding: 7px 10px;
	border-radius: 5px; 
	position: absolute;
    line-height: 1;
	color:#fff;
}
.hcard__new {
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background-color: #3097D3;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px 10px;
	color:#fff;
}