#favoritesBlock {
    display: table;
    width: 100%;
}
#favoritesBlock .favorites--items {
    display: table;
    width: 300px;
    height: 200px;
    background: #fefefe;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 13px;
    border: solid 1px #999;
    box-shadow: 0 0 10px #ebebeb;
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
}