.profile-personal .radio-container {
    padding-right: 0 !important;
}
.result {
    font-weight: bold;
}
.result.red, .result.green {
    margin-bottom: 30px;
}
.result.red {
    color: red !important;
}
.result.red p, .result.green p {
	color:inherit !important;
}
.result.green {
    color: green !important;
}

.account.account_personal-data select.eg-input:not([size]):not([multiple]), select.form-control:not([size]):not([multiple]) {
	height: auto;
}

.acc-profile__empty-avatar {
	overflow:hidden;
}