.t_favorites {
    float: left;
    margin-right: 10px;
}
.t_favorites a {
    display: block;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.t_favorites a:hover {
    opacity: 0.7;
}

/* звезда */
/* ************************************************************************** */
.t_favorites.star a {
    width: 20px;
    height: 20px;
    background-image: url("img/favorite.png");
    background-repeat: no-repeat;
    background-position: left top;
    
}
.t_favorites.star a.active {
    background-image: url("img/favorite_act.png");
}

/* Флаг */
/* ************************************************************************** */
.t_favorites.flag-1 a {
    width: 23px;
    height: 37px;
    background-image: url("img/flag.png");
    background-repeat: no-repeat;
    background-position: left top;
}
.t_favorites.flag-1 a.active {
    background-position: right top;
}